annotation_hoiem.zip
label_prop.zip
label_prop/ActiveVisionDataset/
label_prop/Home_004_1/
label_prop/Home_006_1/
label_prop/Home_007_1/
label_prop/Home_010_1/
label_prop/Home_011_1/
label_prop/Home_016_1/

